<div class="text-center">
    <h1>book catalog</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Details(int id)">book1</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Details(int id)">book2</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Details(int id)">book3</a>

</div>